html {
    font-size: 18px;
}

bohtml {
    font-size: 18px;
}

body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

h1 > span {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    font-family: "Poppins", sans-serif;
    line-height: 140%;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 150%;
    margin: 0;
    margin-bottom: 30px;
}

a {
    text-decoration: underline;
    color: #000000;
}
a.btn,
a .btn {
    text-decoration: none;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #bbb;
}

[data-placeholder]:focus:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    max-width: 680px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px 0 60px 0;
    margin: 0 auto;
}

.section h2 {
    margin-bottom: 20px;
}

.section h3,
.section h4 {
    margin-bottom: 6px;
}

.content-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-columns .column-2 {
    width: 48%;
}

.content-columns .column-3 {
    width: 31%;
}

.content-columns p {
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    cursor: pointer;
}

.btn:active {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #f8f8f8;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.btn.is-disabled {
    color: #eee;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary,
.btn-save {
    color: white;
    background-color: #000000;
}

.btn-save svg {
    fill: white;
}

.btn-primary:active,
.btn-save:active {
    background-color: #000000;
}

.btn-save.is-disabled {
    background-color: transparent;
    cursor: not-allowed;
}

.btn-save.is-disabled svg {
    fill: black;
    opacity: 0.4;
}

.btn-save.is-disabled:active {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.btn-save.is-disabled svg {
    fill: black;
    opacity: 0.2;
}

.btn-delete {
    color: white;
    background-color: #f95353;
}

.btn-delete:active {
    background-color: #d13a3a;
}

.badge-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 22px;
    width: 24px;
    height: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.img-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    border-radius: 12px;
    background-color: #f8f8f8;
    margin: 15px 0;
    padding: 8%;
}

a.link-outer {
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 0.88rem;
    color: #000000;
}

a.link-outer:active {
    color: #111111;
}

.hidden {
    display: none !important;
}

/* 로딩 프로그레스 */
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    z-index: 998;
}

.loading.isLoaded {
    opacity: 0;
}

.loading .progress-dots {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    -webkit-animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
    animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    position: relative;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: transparent;
    }
    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        background-color: #000000;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: transparent;
    }
}

@keyframes loading {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: transparent;
    }
    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        background-color: #000000;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: transparent;
    }
}

.circle-1 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.circle-2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.circle-3 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.circle-4 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.circle-5 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

/* 팝업 공통 */

.popup-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 998;
}

.popup-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "poppins", sans-serif;
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 70px;
    padding: 0 20px;
}

.popup-header .btn-close {
    width: 42px;
    height: 42px;
}

/* 로그인 팝업 */

#signinPopup {
    display: none;
}

#signinPopup.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#signinPopup .modal-popup {
    width: 440px;
    background-color: white;
    border-radius: 12px;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

#signinPopup .popup-body .signin-banner {
    width: 100%;
    height: 160px;
    background-color: black;
    background-image: url("../images/img-signin.jpg");
    background-size: 120%;
    background-position: center center;
}

#signinPopup .popup-body .signin-buttons {
    margin: 30px 40px;
}

#signinPopup .signin-buttons > a {
    text-decoration: none;
}

#signinPopup .signin-buttons > a > div {
    margin: 10px 0;
    padding: 10px;
    color: black;
}

#signinPopup .signin-buttons img {
    margin-right: 15px;
}

#signinPopup .signin-policies {
    font-size: 0.8rem;
    text-align: center;
    margin: 20px 40px;
}

#signinPopup .signin-policies a {
    color: #000000;
}

/* 앱 목록 팝업 */

#app-list-modal {
    display: none;
}

#app-list-modal.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#app-list-modal .modal-popup,
#app-detail-modal .modal-popup {
    width: 680px;
    height: 520px;
    overflow: hidden;
    background-color: white;
    border-radius: 12px;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
#app-list-modal .modal-popup .popup-header,
#app-detail-modal .modal-popup .popup-header {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
#app-list-modal .modal-popup .popup-body {
    display: flex;
}
#app-list-modal .modal-popup .app-category {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 450px;
    padding: 20px 0;
}
#app-list-modal .modal-popup .app-category input[name="app-list-tag"] {
    display: none;
}
#app-list-modal .modal-popup .app-category label {
    display: block;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 0.88rem;
    padding: 8px 16px;
    margin: 8px 16px;
    color: #666;
    cursor: pointer;
    border-radius: 8px;
}
#app-list-modal
.modal-popup
.app-category
input[name="app-list-tag"]:checked
+ label {
    background-color: #000000;
    color: #fff;
}
#app-list-modal .modal-popup .app-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 70%;
    height: 450px;
    padding: 10px;
    overflow-y: auto;
}
#app-list-modal .app-list .app-item,
#app-list-modal .app-list .app-url-item {
    position: relative;
    justify-content: flex-start;
    width: 200px;
    min-height: 95px;
    padding: 8px 16px;
    margin: 8px;
    border-radius: 12px;
}
#app-list-modal .app-list .app-url-item {
    background-color: #f0f6ff;
}
#app-list-modal .app-list .app-url-item:active {
    background-color: #e7edf7;
}
#app-list-modal .app-list .app-name {
    margin-left: 15px;
}
#app-list-modal .app-list .app-status-text {
    display: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: #666;
}
#app-list-modal .is-connected .app-status-text {
    display: block;
}
#app-list-modal .app-list .app-status-icon,
#app-detail-modal .app-status-icon {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #2eb96e;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
#app-list-modal .app-list .app-status-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    padding-top: 1px;
}
#app-list-modal .is-connected .app-status-icon,
#app-detail-modal.is-connected .app-status-icon {
    display: flex;
}
#app-list-modal .app-status-icon svg {
    fill: white;
}

/* 앱 연결 설정 팝업 */
#app-detail-modal {
    display: none;
}
#app-detail-modal.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#app-detail-modal .popup-navigation {
    display: flex;
    align-items: center;
}
#app-detail-modal .popup-navigation .btn-back {
    width: 42px;
    height: 42px;
    padding-right: 2px;
    margin-right: 15px;
}
#app-detail-modal .popup-body {
    padding: 30px 40px 0 40px;
    overflow-y: auto;
    max-height: 450px;
}
#app-detail-modal .popup-body .app-header {
    display: flex;
}
#app-detail-modal .app-header .app-information {
    margin: 0 24px;
}
#app-detail-modal .app-header .app-information .app-name {
    display: flex;
    align-items: center;
    position: relative;
}
#app-detail-modal .app-header .app-information .app-name .app-name-text {
    display: inline-block;
    max-width: 340px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#app-detail-modal .app-header .app-information .app-name .app-status-icon {
    margin-left: 8px;
    display: none;
}
#app-detail-modal.is-connected .app-information .app-name .app-status-icon {
    display: flex;
}
#app-detail-modal .app-name .app-status-icon svg {
    fill: white;
}
#app-detail-modal .app-header .app-information .app-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5rem;
    max-height: 4.5rem;
    margin: 10px 0;
}
#app-detail-modal .app-header .app-connection .btn-connect {
    width: 120px;
    height: 48px;
    justify-content: center;
    border-radius: 12px;
    padding: 0;
}
#app-detail-modal.is-connected .app-connection .btn-connect {
    display: none;
}
#app-detail-modal .app-header .app-connection .btn-disconnect {
    display: none;
    width: 130px;
    height: 48px;
    justify-content: center;
    border-radius: 12px;
    padding: 0;
}
#app-detail-modal.is-connected .app-connection .btn-disconnect {
    display: flex;
}
#app-detail-modal .list-actions {
    font-family: "poppins", sans-serif;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding-top: 20px;
}
#app-detail-modal .list-actions h3 {
    margin-bottom: 15px;
}
#app-detail-modal .list-actions .item-action,
#app-detail-modal .list-actions .item-action * {
    display: flex;
    align-items: center;
}
#app-detail-modal .list-actions .item-action {
    justify-content: space-between;
    padding: 20px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    opacity: 0.3;
}
#app-detail-modal.is-connected .list-actions .item-action {
    opacity: 1;
}
#app-detail-modal .list-actions .item-action .app-name {
    display: inline-block;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#app-detail-modal .list-actions .item-action .btn-add-shortcut {
    width: 180px;
    height: 42px;
    cursor: not-allowed;
    box-shadow: none;
}
#app-detail-modal.is-connected .list-actions .item-action .btn-add-shortcut {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* 상단 메뉴바 */

.page-header {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    padding: 0 20px;
    margin: 0 40px 40px 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-header a {
    text-decoration: none;
    color: inherit;
}

.page-header .page-header-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-header-brand img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.page-header-brand .logo-title {
    font-size: 1.33rem;
    line-height: 1.77rem;
}

.page-header .page-header-navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.88rem;
}

.page-header-navi .page-header-navi-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-header-navi .page-header-navi-items .navi-item {
    margin-right: 30px;
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

.navi-item:focus {
    outline: 0;
    border: 0;
}

.navi-item:active {
    color: #666;
}

.page-header-navi div#buttonSignOut,
.page-header-navi div#buttonSignIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
}

.page-header-navi div#buttonSignOut img,
.page-header-navi div#buttonSignIn img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.page-header-navi div#buttonSignOut span,
.page-header-navi div#buttonSignIn span {
    line-height: 42px;
}

.page-header-navi div#buttonProfile {
    padding: 4px;
}

.page-header-navi div#buttonProfile > div {
    -webkit-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.25);
}

.page-header-navi div#buttonProfile > span {
    margin: 0 5px 0 10px;
}

.page-body .page-title {
    padding: 30px 0;
}

/** Section CTA **/

.section-cta h1 {
    margin-bottom: 15px;
}

.section-cta div#buttonCTA {
    width: 320px;
    height: 60px;
    border-radius: 12px;
}

.section-cta .btn-primary span {
    margin-left: 12px;
    opacity: 0.6;
}

.section-cta .img-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
    background-color: #f8f8f8;
}

/** Section Try First **/

.section-trial h2 {
    margin-bottom: 5px;
}

.section-trial p span {
    color: #666;
}

.section-trial .try-shortcuts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.8rem;
    background-color: #f6f6f6;
    padding: 15px 20px;
    border-radius: 12px;
}

.section-trial .try-shortcuts #buttonOpenInNewTab {
    color: black;
}

.section-trial .shortcut-url {
    font-family: "poppins", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-trial .shortcut-url .shortcut-url-host,
.section-trial .shortcut-url .shortcut-vars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-trial .shortcut-url .shortcut-url-host img {
    width: 24px;
    height: 28px;
    margin: 0 10px;
}

.section-trial .shortcut-url .shortcut-url-host {
    opacity: 0.4;
}

.section-trial .shortcut-url .shortcut-url-keyword img {
    width: 32px;
    height: 32px;
    margin-left: 6px;
    margin-right: 6px;
}

.section-trial .shortcut-url .shortcut-vars {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.section-trial .shortcut-url .shortcut-vars.active {
    visibility: visible;
    height: 32px;
    margin-top: 0;
    opacity: 1;
}

.section-trial .try-shortcuts .btn {
    font-size: 0.88rem;
    height: 42px;
    padding: 0 16px;
}

.section-trial .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
}

.section-trial .btn-group label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 12px;
}

.section-trial .btn-group label img {
    margin-right: 10px;
    opacity: 0.4;
}

.section-trial .btn-group label:active {
    color: #bbb;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.section-trial .btn-group label:active img {
    opacity: 0.6;
}

.section-trial input[name="shortcutApp"] {
    display: none;
}

.section-trial input[name="shortcutApp"]:checked + label {
    border: 1px solid #000000;
    color: #000000;
}

.section-trial input[name="shortcutApp"]:checked + label img {
    opacity: 1;
}

/** Section You Can Do **/

.section-youcando h2 {
    margin-bottom: 30px;
}

.section-youcando .content-text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 15px;
}

.section-youcando .content-image {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
}

/** Section Why we built **/

.section-whywebuilt a {
    display: block;
    margin: 20px 0 15px 0;
}

/** Section Connected Apps **/

.section-apps {
    padding: 20px 0 60px 0;
}

.section-apps .list-apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -21px;
}

.section-apps .ico-app {
    width: 60px;
    height: 60px;
    margin: 0 15px 21px 15px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

.ico-app.is-connected {
    display: flex;
}

.section-apps .ico-app:active {
    background-color: #eee;
}

.section-apps .add-new {
    width: 48px;
    height: 48px;
    margin: 6px 21px 21px 21px;
}

/** Section My Shortcuts **/

.section-shortcuts .list-shortcuts {
    padding: 0 0 60px 0;
}

.section-shortcuts .list-shortcuts-empty {
    text-align: center;
}
.list-shortcuts-empty .content-columns {
    text-align: left;
    margin-top: 60px;
}

.section-shortcuts .item-shortcut,
.section-shortcuts .item-url-shortcut {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 70px;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 12px;
}

.section-shortcuts .item-shortcut *,
.section-shortcuts .item-url-shortcut * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-shortcuts .item-shortcut .shortcut,
.section-shortcuts .item-url-shortcut .shortcut {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 40%;
    padding: 10px 18px;
    border-right: 1px solid #ddd;
}

.section-shortcuts .item-shortcut .shortcut .shortcut-keyword,
.section-shortcuts .item-url-shortcut .shortcut .shortcut-keyword {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.section-shortcuts .item-shortcut .shortcut .shortcut-url img,
.section-shortcuts .item-url-shortcut .shortcut .shortcut-url img {
    margin-right: 5px;
}

.section-shortcuts .item-shortcut .shortcut .shortcut-url a,
.section-shortcuts .item-url-shortcut .shortcut .shortcut-url a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.section-shortcuts
.item-shortcut
.shortcut
.shortcut-url
.shortcut-url-with-keyword,
.section-shortcuts
.item-url-shortcut
.shortcut
.shortcut-url
.shortcut-url-with-keyword {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 120px;
    display: block;
}

.section-shortcuts .item-shortcut .app,
.section-shortcuts .item-url-shortcut .app {
    position: relative;
    width: 60%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px 0 32px;
}

.section-shortcuts .item-shortcut .app .ico-arrow,
.section-shortcuts .item-url-shortcut .app .ico-arrow {
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 5px;
    left: -20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: white;
}

.section-shortcuts .item-shortcut .app .buttons .btn,
.section-shortcuts .item-url-shortcut .app .buttons .btn {
    width: 42px;
    height: 42px;
    margin-left: 8px;
}

.section-shortcuts .item-shortcut .app .connected-app .app-icon,
.section-shortcuts .item-url-shortcut .app .connected-app .app-icon,
.list-actions .connected-app .app-icon {
    margin-right: 10px;
}

.section-shortcuts .item-url-shortcut .app .connected-app .app-url {
    display: block;
}

.section-shortcuts .item-shortcut .app .connected-app .app-name,
.section-shortcuts .item-url-shortcut .app .connected-app .app-url .app-name {
    display: block;
    max-width: 240px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.section-shortcuts .item-url-shortcut .app .connected-app .app-url .app-name {
    margin-bottom: 3px;
}

.section-shortcuts
.item-url-shortcut
.app
.connected-app
.app-url
.destination-url {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    max-width: 240px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*** 카드 상태별 스타일 ***/

/* 다른 카드 편집 중일 때 */

/* 카드 편집 중일 때 */
.item-shortcut.is-editing ~ .item-shortcut {
    opacity: 0.3;
    cursor: not-allowed;
}
.item-shortcut.is-editing ~ .item-shortcut .btn-edit {
    display: none;
}
.item-shortcut.is-editing ~ .item-shortcut .app-name,
.item-url-shortcut.is-editing ~ .item-url-shortcut .app-name,
.item-url-shortcut.is-editing ~ .item-url-shortcut .destination-url {
    max-width: 290px;
}

.item-shortcut .btn-save,
.item-shortcut .btn-delete,
.item-url-shortcut .btn-save,
.item-url-shortcut .btn-delete {
    display: none;
}
.item-shortcut.is-editing .btn-save,
.item-shortcut.is-editing .btn-delete,
.item-url-shortcut.is-editing .btn-save,
.item-url-shortcut.is-editing .btn-delete {
    display: flex;
}
.item-shortcut.is-editing .btn-edit,
.item-url-shortcut.is-editing .btn-edit {
    display: none;
}
.item-shortcut .btn-edit,
.item-url-shortcut .btn-edit {
    display: flex;
}

.section-shortcuts .item-shortcut.is-editing,
.section-shortcuts .item-url-shortcut.is-editing {
    border: 1px solid #bbb;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.section-shortcuts .item-shortcut.is-editing [contenteditable="true"] br,
.section-shortcuts .item-url-shortcut.is-editing [contenteditable="true"] br {
    display: none;
}

.section-shortcuts .item-shortcut.is-editing [contenteditable="true"] *,
.section-shortcuts .item-url-shortcut.is-editing [contenteditable="true"] * {
    display: inline;
    white-space: nowrap;
}

.section-shortcuts .item-shortcut.is-editing .shortcut,
.section-shortcuts .item-url-shortcut.is-editing .shortcut {
    min-height: 68px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-shortcuts .item-shortcut.is-editing .shortcut-url,
.section-shortcuts .item-url-shortcut.is-editing .shortcut-url {
    display: none;
}

.section-shortcuts .item-shortcut.is-editing .shortcut .shortcut-keyword,
.section-shortcuts .item-url-shortcut.is-editing .shortcut .shortcut-keyword {
    outline: 0;
    margin-bottom: 0;
    overflow: hidden;
    -o-text-overflow: unset;
    text-overflow: unset;
    cursor: text;
}

.section-shortcuts
.item-url-shortcut.is-editing
.app
.connected-app
.app-url
.app-name {
    display: none;
}

.section-shortcuts .item-shortcut.is-editing .app .connected-app .app-name,
.section-shortcuts
.item-url-shortcut.is-editing
.app
.connected-app
.app-url
.destination-url {
    max-width: 200px;
}

.section-shortcuts
.item-url-shortcut.is-editing
.app
.connected-app
.app-url
.destination-url {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    outline: 0;
    overflow: hidden;
    -o-text-overflow: unset;
    text-overflow: unset;
    cursor: text;
}

/** Page Footer **/
.page-footer {
    width: 680px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    color: #bbb;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-footer a {
    color: #aaa;
}

.page-footer .page-footer-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-footer-brand img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.4;
}

.page-footer-brand .logo-title {
    font-size: 1.33rem;
    line-height: 1.77rem;
}

.page-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.88rem;
    list-style: none;
}

.page-footer li {
    margin-left: 20px;
}

.page-footer a:active {
    color: #aaa;
}
